<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <i class="fas fa-graduation-cap fa-lg"></i>
        CourseSystem
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!--Navbar elements-->
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            
            <!-- Admin dropdown menu -->
            <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/users">Users</a>
                    <a class="dropdown-item" href="/admin/courses">Courses</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/statistics">Statistics</a>
                </div>
            </li>

        </ul>

        <!-- Left side of navbar -->
        <form th:if="${#authorization.expression('!isAuthenticated()')}" action="/login" method="GET" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-sign-in-alt"></i>
                Login</button>
        </form>

        <form th:if="${#authorization.expression('isAuthenticated()')}" action="/logout" method="POST" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-sign-in-alt"></i>
                Logout</button>
        </form>

    </div>
</nav>