<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <i class="fas fa-graduation-cap fa-lg"></i>
        CourseSystem
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
        <form th:if="${#authorization.expression('!isAuthenticated()')}" action="/login" method="GET" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-sign-in-alt"></i>
                Login</button>
        </form>
        <form th:if="${#authorization.expression('isAuthenticated()')}" action="/logout" method="POST" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-sign-in-alt"></i>
                Logout</button>
        </form>
    </div>
</nav>